body {
  font-size: 16px;
  color: #4D4D54;
  background-color: #DBCDB3;
  font-family: 'Open Sans', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #DB504D;
  border-radius: 0;
  border: 0;
  padding-bottom: 12px;
}


.navbar-brand h1 {
  font-family: 'Trocchi', serif;
  color: #4D4D54;
  text-shadow: 1px 1px 1px #222;
  font-weight: bold;
  margin: auto;
}

h2, h3 {
	font-family: 'Trocchi', serif;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #4D4D54;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* styles for collapsable menu */
#collapsable-nav {
	background-color: #FF8C89;
	text-align: center;
	border-color: #4D4D54
}

/* styles for Chicken section*/
#Chicken {
	background-color: #b19a8f;
}

#Beef {
	background-color: #FF8C89;
}

#Sushi {
	background-color: #F4D2C6;
}

/* hide navbar padding in mobile mode */

@media (max-width: 767px) {
	#header-nav {
		padding-bottom: 0px;
	}
}
